@page "/"

<div class="card-main">
    <MudCard >
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Sample task</MudText>
            </CardHeaderContent>

        </MudCardHeader>
        <MudCardContent>
            <MudText>Admin user Username: Admin, password: @@Open1234</MudText>
            <MudText>Simple user Username: User1, password: @@Open1234</MudText>
        </MudCardContent>

    </MudCard>
</div>
