.card-div[b-i9ow0d9ans] {
    display: block;
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .card-div[b-i9ow0d9ans] {
        display: block;
        width: 97%;
        margin: 0 auto;
    }
}
